section.products {
  margin-top: 10rem;
  padding: 0 2%;
  width: 100%;
}
.products__list {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.products h1 {
  margin-bottom: 15rem;
  font-size: 2rem;
  color: #53565c;
}
.products__card {
  margin-bottom: 17rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%);
  height: 300px;
  width: 380px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  transition: all 0.2s ease-out;
}
.products__card:hover {
  border: 1px solid #ff00a6;
  transform: translateY(-5px);
  cursor: pointer;
}
.products__content {
  padding: 1rem;
  transform: translateY(-20px);
}

.products__content h2 {
  text-align: center;
  color: #53565c;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.products__content p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff00a6;
}
.products__img img {
  width: 93%;
  height: auto;
  filter: drop-shadow(0px 9px 15px rgba(0, 0, 0, 0.55));
}

.products__img {
  align-self: center;
  align-items: flex-end;
  display: flex;
  width: 350px;
  height: 150px;
}

.products__price {
  padding: 0.3rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: all 0.18s ease-in-out;
}
.products__price:hover {
  background-color: rgba(207, 207, 207, 0.267);
}

.products__price p {
  font-weight: bold;
  color: #53565c;
}
.products__icon {
  cursor: pointer;
  font-size: 3.5rem;
  color: #ff00a6;
}

.products__materials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products__materials p {
  margin-right: 2rem;
}

.products__materials .products__icon {
  font-size: 2rem;
}


/* Loading */
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
.loading div{
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff00a6;
  animation: loading 0.5s cubic-bezier(0,.86,.55,.99) infinite alternate;
  margin-right: 0.5rem;
}

.loading .first{
  animation-delay: 0.1s;
}

.loading .second{
   animation-delay: 0.2s;
  opacity: 0.75 ;

}
.loading .third{
  animation-delay: 0.3s;
  opacity: 0.5 ;
}
.loading .fourth{
  animation-delay: 0.4s;
  opacity: 0.3 ;
}
@keyframes loading{
    from{transform: translatey(0);}
    to{transform: translatey(-100px);}
}
/*End Loading */