@font-face {
  font-family: iranSansBold;
  src: url(../public/assets/Fonts/fa-Iran-sans-web-bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: iranSansLight;
  src: url(../public/assets/Fonts/fa-Iran-sans-web-light.woff2);
  font-weight: 300;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: iranSansLight;
}

a {
  text-decoration: none;
}
